.App {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: peru;
}
.contenu {
  margin-top: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dimgray;
  box-shadow: black;
  border-radius: 10px;
}
.inpt-btn {
  display: flex;
  justify-content: space-around;
}
.items {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items button {
  padding: 10px;
}
